body{
    background-color: rgb(223, 231, 253);
}

#container{
    background-color: rgb(190, 225, 230);
    width: 900px;
    height: 600px;
    margin: 50px auto auto auto;
    display: grid;
    grid-template-columns: auto auto;
    border: inset 2px grey

}

#MyInteraction{
    padding: 10px;
}